/*
    Breakpoints
*/

$tablet: 768px;
$desktop: 1140px;

/*
    Colors
*/

$text-color: #fff;
$border-input: 1px solid #ddd;
$main-color: rgb(7, 145, 26);
$success-color: rgb(7, 145, 26);
$error-color: rgb(158, 25, 25);
$warning-color: rgb(235, 212, 5);