/*
    Base
*/
.app-container * {
  font-family: inherit;
  color: inherit;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app-container li {
  list-style: none;
}

/*
    Abstracts
*/
/*
    Breakpoints
*/
/*
    Colors
*/
/*
    Components
*/
.app-container {
  width: 90vw;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .app-container {
    width: 90vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1140px) {
  .app-container {
    width: 75vw;
    max-width: 1140px;
  }
}

.section-title {
  text-align: center;
  font-size: 36px;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
}

.input-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px;
  font-size: 24px;
}

.input-container input,
.input-container textarea,
.input-container select {
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 0px;
  font-size: 18px;
  background-color: transparent;
}

.input-container input,
.input-container textarea {
  padding: 10px;
}

.input-container select {
  padding: 9px 10px;
}

.input-container label {
  margin: 10px 0px;
}

.input-container label input {
  margin: 0px 10px;
}

@media only screen and (min-width: 768px) {
  .input-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

.order-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.order-container h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-size: 28px;
}

@media only screen and (min-width: 768px) {
  .order-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    border-bottom: none;
  }
}

.products {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ddd;
}

.products h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-size: 30px;
}

.products ul li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.products ul li .input-container {
  margin: 0px;
}

.products ul li .input-container input {
  max-width: 100%;
}

.products__title {
  display: None;
}

.products__menu li {
  margin: 20px 0px;
  font-size: 24px;
  text-align: left;
}

.products__menu li .input-container {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .products {
    max-width: 100%;
    border-top: 1px solid #ddd;
  }
  .products ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    font-size: 20px;
  }
  .products ul li .input-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 190px;
  }
  .products__menu li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  .products__menu li p {
    display: none;
  }
}

.your-order {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-order h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-size: 24px;
}

.your-order img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.your-order .success,
.your-order .error,
.your-order .warning {
  color: #fff;
  padding: 10px 40px;
  max-width: 90%;
  width: auto;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 700;
}

.your-order .success {
  background-color: #07911a;
}

.your-order .error {
  background-color: #9e1919;
}

.your-order .warning {
  background-color: #ebd405;
}

.your-order .order-list {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media only screen and (min-width: 768px) {
  .your-order .success {
    max-width: 65%;
  }
}

.standard-button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #07911a;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 6px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.standard-button:active {
  background-color: #03480d;
}

.order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 10px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 650px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.order-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  text-align: center;
}

.order-list--header {
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.order-list:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.order-total {
  width: 100%;
  font-size: 24px;
  padding: 15px 0px;
  text-align: center;
}

.loading {
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */